*{
    margin: 0;
}

table{
    width: 100%;
    border-spacing: 0px; 
    text-align: center;
    padding: 0;
  }

  td{
    text-align: center;
    background-color: #0C3D11;
    color: #FFFFFF;
    font-family: verdana, arial, helvetica;
  }