*{
  margin: 0;
}

body{
    background-color: #121212;
    text-align: center;
    color: white;
  }
h1{
  font-size: 42px;
}
#p.solid{
    border-style: solid;
  }

label{
    font-size: 20px;
}

table{
  width: 100%;
  border-spacing: 0px; 
  text-align: center;
  border: 0;
}

td{
  text-align: center;
  background-color: #0C3D11;
  color: #FFFFFF;
  font-family: verdana, arial, helvetica;
}
